TestSecurity/TestSecurityWebSite/App_WebReferences/Services/AuthentificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestDatabase">
        <s:complexType />
      </s:element>
      <s:element name="TestDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDatabaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="tns:UserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:SimpleUser" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCacheable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimpleUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByNameResult" type="tns:UserResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRoleResult" type="tns:RoleResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RoleResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:SimpleRole" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCacheable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimpleRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssignedUsers" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleNames" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRolesResult" type="tns:RolesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RolesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfSimpleRole" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCacheable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSimpleRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SimpleRole" nillable="true" type="tns:SimpleRole" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRolesResult" type="tns:RolesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsersToRoles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roles" type="tns:ArrayOfSimpleRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsersToRolesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUsersToRolesResult" type="tns:RolesResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:TestDatabase" />
  </wsdl:message>
  <wsdl:message name="TestDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:TestDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="GetUserByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapIn">
    <wsdl:part name="parameters" element="tns:AddRole" />
  </wsdl:message>
  <wsdl:message name="AddRoleSoapOut">
    <wsdl:part name="parameters" element="tns:AddRoleResponse" />
  </wsdl:message>
  <wsdl:message name="AddRolesSoapIn">
    <wsdl:part name="parameters" element="tns:AddRoles" />
  </wsdl:message>
  <wsdl:message name="AddRolesSoapOut">
    <wsdl:part name="parameters" element="tns:AddRolesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="GetRolesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersToRolesSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsersToRoles" />
  </wsdl:message>
  <wsdl:message name="AddUsersToRolesSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersToRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthentificationServiceSoap">
    <wsdl:operation name="TestDatabase">
      <wsdl:input message="tns:TestDatabaseSoapIn" />
      <wsdl:output message="tns:TestDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input message="tns:GetUserByNameSoapIn" />
      <wsdl:output message="tns:GetUserByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <wsdl:input message="tns:AddRoleSoapIn" />
      <wsdl:output message="tns:AddRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <wsdl:input message="tns:AddRolesSoapIn" />
      <wsdl:output message="tns:AddRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input message="tns:GetRolesSoapIn" />
      <wsdl:output message="tns:GetRolesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <wsdl:input message="tns:AddUsersToRolesSoapIn" />
      <wsdl:output message="tns:AddUsersToRolesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthentificationServiceSoap" type="tns:AuthentificationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestDatabase">
      <soap:operation soapAction="http://tempuri.org/TestDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <soap:operation soapAction="http://tempuri.org/AddRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <soap:operation soapAction="http://tempuri.org/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthentificationServiceSoap12" type="tns:AuthentificationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestDatabase">
      <soap12:operation soapAction="http://tempuri.org/TestDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap12:operation soapAction="http://tempuri.org/GetUserByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRole">
      <soap12:operation soapAction="http://tempuri.org/AddRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <soap12:operation soapAction="http://tempuri.org/AddRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="http://tempuri.org/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToRoles">
      <soap12:operation soapAction="http://tempuri.org/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthentificationService">
    <wsdl:port name="AuthentificationServiceSoap" binding="tns:AuthentificationServiceSoap">
      <soap:address location="http://localhost:1888/AuthentificationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthentificationServiceSoap12" binding="tns:AuthentificationServiceSoap12">
      <soap12:address location="http://localhost:1888/AuthentificationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>